.card-container{
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 408px;
    /* border-radius: 1rem; */
    color: #111;
    margin: 0;
    padding: 0;
}

.img-card{
    width: 303px;
    /* height: 166px; */
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
}

.img-and-name img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 100%;
}

.card-text{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 8px 24px 24px;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius:1rem;
}

.card-text h5{
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: left;
    font-weight: 500;
}

.img-and-name{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.img-and-name p{
    font-size: 0.9rem;
}

.detail-of-course{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6rem;
}

.card-text-course{
    font-size: 0.8rem;
    color: #909BAF;
}

.card-text-course svg{
    font-size: 1rem;
}

.card-price{
    margin-top: 0.8rem;
}

.h1-price{
    font-size: 1.8rem;
    color: #E2105F;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.h1-price span{
    color: #798191;
    font-size: 1.1rem;
    text-decoration: line-through;
    margin-left: 1rem;
}

.card-action{
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 1rem;
}

.card-cart{
    width: 42px;
    height: 42px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #842CDD;
    cursor: pointer;
}

.card-cart svg{
    font-size: 1.8rem;
    color: #842CDD;
}

.card-btn-paymanet{
    background-color: #842CDD;
    border-radius: 0.7rem;
    color: #fff;
    border: none;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.card-btn-paymanet:hover{
    background-color: #7426c2;
}